body {
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#doodle {
    position: absolute;
    display: inline;
    bottom: 5vh;
    right: 5vh;
    animation: fade 5s steps(20,end) infinite;
    text-align: right;
}

/* Animation for fading text effect */
@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.git-importance{
    font-size: clamp(16px, 4vw, 24px);
    transition: color 0.5s ease-in-out;
    
}
.git-importance:hover{
    color:red;
}
